services:
  app:
    build: .
    container_name: fastapi-uv-app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    # volumes:
    #   - .:/app

  db:
    image: postgres:18-trixie
    container_name: fastapi-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: app_user
      POSTGRES_PASSWORD: app_password
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

volumes:
  postgres_data:
